<!-- ! ====================== CREAR PUBLICACIONES ======================= -->

<!-- * ----------------------------- Header ----------------------------- -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-publicaciones"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Crear nueva publicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- * --------------------------- Contenido ---------------------------- -->
<ion-content>

  <form [formGroup]="publicacionForm" novalidate>

    <!-- ^ Campo del título -->
    <ion-item>

      <!-- & Label -->
      <ion-label position="stacked">Título</ion-label>

      <!-- & Campo para escribir -->
      <ion-input formControlName="titulo" placeholder="Escriba el título"></ion-input>

      <!-- & Si el usuario no escribe nada -->
      <ion-note *ngIf="controlador('titulo')?.hasError('required') && controlador('titulo')?.touched" color="danger">
        La frase es obligatoria.
      </ion-note>

      <!-- & Si la cita es demasiado corta (Menos de 5 caracteres) -->
      <ion-note *ngIf="controlador('titulo')?.hasError('minlength') && controlador('titulo')?.touched" color="danger">
        La frase debe tener al menos 5 caracteres.
      </ion-note>

    </ion-item>

    <!-- ^ Campo para seleccionar imagen -->
    <ion-item>
      <ion-label position="stacked">Seleccionar imagen</ion-label>
      <ion-button expand="block" color="primary" (click)="tomarFoto()">
        <ion-icon name="camera-outline"></ion-icon>
        Tomar foto
      </ion-button>

      <!-- Previsualización de la imagen -->
      <img *ngIf="imagen" [src]="imagen" alt="img" style="width: 100%; margin-top: 10px; border-radius: 10px;">

    </ion-item>

    <!-- ^ Campo de la descripción -->
    <ion-item>

      <!-- & Label -->
      <ion-label position="stacked">Descripción</ion-label>

      <!-- & Campo para escribir -->
      <ion-input formControlName="descripcion" placeholder="Escriba la descripción"></ion-input>

      <!-- & Si el usuario no escribe nada -->
      <ion-note *ngIf="controlador('descripcion')?.hasError('required') && controlador('descripcion')?.touched"
        color="danger">
        La frase es obligatoria.
      </ion-note>

      <!-- & Si la cita es demasiado corta (Menos de 20 caracteres) -->
      <ion-note *ngIf="controlador('descripcion')?.hasError('minlength') && controlador('descripcion')?.touched"
        color="danger">
        La frase debe tener al menos 20 caracteres.
      </ion-note>

    </ion-item>

    <!-- * ----------------------- BOTÓN PARA AGREGAR ----------------------- -->
    <ion-button expand="block" (click)="agregar()" [disabled]="publicacionForm.invalid && imagen != ''">
      Agregar
    </ion-button>

  </form>

</ion-content>
